.form {
  max-width: 350px;
  border-radius: 5px;
  padding: 10px;
  background-color: yellow;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  width: 250px;
  margin-top: 5px;
}

.btn {
  display: block;
  cursor: pointer;
  width: 100px;
  color: yellow;
  background-color: blue;
  border-radius: 5px;
}

.btn:hover {
  color: blue;
  background-color: tomato;
  box-shadow: 5px 5px 5px blue;
}
